body {
    font-family: 'Oswald';
    text-align: center;

}

header {
    font-size: 3vh;
    text-decoration: underline;
    margin-bottom: 0px;
}

h2 {
    font-size: 3vh;
}

#generateButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    background-color: #e3e0e8ff;
    border-radius: 20px;
    border-width: 3px;
    
    font-family: "Oswald";
    font-size: 4vh;
    padding: 10px 15px;

}